<app-card cardTitle="Results" [options]="false">
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>E-mail</th>
              <th>Document</th>
              <th>Role</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @if (employees()?.length === 0) {
              <tr>
                <td colspan="100" class="text-center">No records found</td>
              </tr>
            } @else {
              @for (employee of employees(); track employee.id) {
                <tr>
                  <th scope="row">{{ employee.id }}</th>
                  <td>{{ employee.firstName }}</td>
                  <td>{{ employee.lastName }}</td>
                  <td>{{ employee.email }}</td>
                  <td>{{ employee.document }}</td>
                  <td>{{ employee.role }}</td>
                  <td class="text-end">
                    <swal #deleteSwal title="Are you sure you want to delete this employee?" text="This cannot be undone" icon="question" [showCancelButton]="true" (confirm)="delete(employee.id)"></swal>
                    <button type="button" class="btn btn-icon btn-danger d-inline-flex" title="Delete Employee" [disabled]="employee.id === 1" [swal]="deleteSwal"><i class="feather icon-x-circle"></i></button>
                    <a class="btn btn-icon btn-info d-inline-flex ms-1" title="Update Employee" [routerLink]="[employee.id, 'update']"><i class="feather icon-edit"></i></a>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-card>
