<app-card cardTitle="Filter" [options]="false">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="employeeFirstName">First Name</label>
        <input type="text" name="employeeFirstName" id="employeeFirstName" class="form-control" [(ngModel)]="firstName" (keyup.enter)="searchButton.click()">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="employeeLastName">Last Name</label>
        <input type="text" name="employeeLastName" id="employeeLastName" class="form-control" [(ngModel)]="lastName" (keyup.enter)="searchButton.click()">
      </div>
    </div>
    <div class="col-sm-4 align-content-end form-group text-end">
      <button type="button" class="btn btn-success" (click)="onSearchClicked()" #searchButton>Filter</button>
      <a class="btn btn-primary ms-1" routerLink="create">Create</a>
    </div>
  </div>
</app-card>
