@if (employee) {
  <form #formData="ngForm" name="formData" [mustMatch]="['employeePassword', 'employeeConfirmPassword']" (submit)="save()">
    <app-card cardTitle="Employee Data" [options]="false">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="employeeFirstName">First Name</label>
            <input #employeeFirstName="ngModel" [(ngModel)]="employee.firstName" type="text" name="employeeFirstName" id="employeeFirstName" class="form-control" required [class.is-invalid]="formData.submitted && employeeFirstName.invalid" />
            <div *ngIf="employeeFirstName.errors?.required" class="invalid-feedback">Please provide the employee first name.</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="employeeLastName">Last Name</label>
            <input #employeeLastName="ngModel" [(ngModel)]="employee.lastName" type="text" name="employeeLastName" id="employeeLastName" class="form-control" required [class.is-invalid]="formData.submitted && employeeLastName.invalid" />
            <div *ngIf="employeeLastName.errors?.required" class="invalid-feedback">Please provide the employee last name.</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="employeeEmail">E-mail</label>
            <input #employeeEmail="ngModel" [(ngModel)]="employee.email" type="text" name="employeeEmail" id="employeeEmail" class="form-control" autocomplete="off" required email [class.is-invalid]="formData.submitted && employeeEmail.invalid" />
            <div *ngIf="employeeEmail.errors?.required" class="invalid-feedback">Please provide the employee e-mail address.</div>
            <div *ngIf="employeeEmail.errors?.email" class="invalid-feedback">Please provide a valid e-mail address.</div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="employeeDocument">Document</label>
            <input #employeeDocument="ngModel" [(ngModel)]="employee.document" mask="000.000.000-00" type="text" name="employeeDocument" id="employeeDocument" class="form-control" required [class.is-invalid]="formData.submitted && employeeDocument.invalid" />
            <div *ngIf="employeeDocument.errors?.required" class="invalid-feedback">Please provide the employee document (CPF).</div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="employeeBirthdate">Birth Date</label>
            <input #employeeBirthdate="ngModel" [(ngModel)]="employee.birthDate" type="date" name="employeeBirthdate" id="employeeBirthdate" class="form-control" required [class.is-invalid]="formData.submitted && employeeBirthdate.invalid" />
            <div *ngIf="employeeBirthdate.errors?.required" class="invalid-feedback">Please provide the employee birth date.</div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="employeeRole">Role</label>
            <select #employeeRole="ngModel" [(ngModel)]="employee.role" [compareWith]="compareFn" name="employeeRole" id="employeeRole" class="form-control" required [class.is-invalid]="formData.submitted && !roleIsValid()">
              <option [ngValue]="undefined">Choose...</option>
              @for (role of roles; track role.id) {
                <option [ngValue]="role">{{role.name}}</option>
              }
            </select>
            <div *ngIf="employeeRole.errors?.required" class="invalid-feedback">Please provide the employee's role.</div>
            <div *ngIf="employee.role && !roleIsValid()" class="invalid-feedback">Please provide a role lower than yours.</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="employeeSuperior">Superior</label>
            <select [(ngModel)]="employee.superior" class="form-control" name="employeeSuperior" id="employeeSuperior">
              <option value="">Choose...</option>
              @for (sup of superiors; track sup.id) {
                <option [value]="sup.id">{{sup.fullName}}</option>
              }
            </select>
          </div>
        </div>
      </div>
    </app-card>
    <app-card cardTitle="Telephones" [options]="false">
      <div class="row">
        <div class="col-sm-1">
          <div class="form-group">
            <label for="phonePrefix">Prefix</label>
            <input type="text" name="phonePrefix" id="phonePrefix" class="form-control" [(ngModel)]="phonePrefix" maxlength="2" mask="00" />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" [(ngModel)]="phoneNumber" maxlength="10" mask="900000000" />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="phoneType">Type</label>
            <select name="phoneType" id="phoneType" class="form-control" [(ngModel)]="phoneType">
              <option value="" selected>Choose...</option>
              <option value="Home">Home</option>
              <option value="CellPhone">Cellular</option>
              <option value="Work">Work</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group d-flex flex-column">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-primary w-50" (click)="addPhone()">Add Phone</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive" [class.is-invalid]="formData.submitted && employee.phones.length === 0">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Prefix</th>
                  <th>Number</th>
                  <th>Type</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @if (employee.phones.length === 0) {
                  <tr>
                    <td colspan="100" class="text-center">No records found</td>
                  </tr>
                } @else {
                  @for (phone of employee.phones; track phone.id) {
                    <tr>
                      <th scope="row">{{ phone.id || "-" }}</th>
                      <td>{{ phone.phonePrefix }}</td>
                      <td>{{ phone.phoneNumber }}</td>
                      <td>{{ phone.phoneType }}</td>
                      <td class="text-end">
                        <button type="button" class="btn btn-icon btn-danger d-inline-flex" title="Delete Phone"><i class="feather icon-x-circle"></i></button>
                      </td>
                    </tr>
                  }
                }
                </tbody>
            </table>
          </div>
          <div *ngIf="employee.phones.length === 0" class="invalid-feedback">Please provide at least one telephone number.</div>
        </div>
      </div>
    </app-card>
    @if(!isEditing) {
      <app-card cardTitle="Authorization Data" [options]="false">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label for="employeePassword">Password</label>
              <input #employeePassword="ngModel" [(ngModel)]="employee.password" type="password" name="employeePassword" id="employeePassword" class="form-control" autocomplete="new-password" required [class.is-invalid]="formData.submitted && employeePassword.invalid" [pattern]="passwordStrengthPattern" />
              <password-strength-meter [password]="employee.password" [enableFeedback]="true"></password-strength-meter>
              <div *ngIf="employeePassword.errors?.required" class="invalid-feedback">Password should not be empty</div>
              <div *ngIf="employeePassword.errors?.pattern" class="invalid-feedback">Password should be at least 8 chars, 1 uppercase letter, 1 lowercase letter, 1 number and 1 special char</div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <label for="employeeConfirmPassword">Confirm Password</label>
              <input #employeeConfirmPassword="ngModel" [(ngModel)]="employee.passwordConfirm" type="password" name="employeeConfirmPassword" id="employeeConfirmPassword" class="form-control" autocomplete="new-password" required [class.is-invalid]="formData.submitted && employeeConfirmPassword.invalid" />
              <div *ngIf="employeeConfirmPassword.errors?.required" class="invalid-feedback">Please provide the password confirmation.</div>
              <div *ngIf="employeeConfirmPassword.errors?.mustMatch" class="invalid-feedback">Please confirm the password.</div>
            </div>
          </div>
        </div>
      </app-card>
    }

    <div class="d-flex justify-content-end mb-4">
      <a class="btn btn-icon btn-danger" routerLink="/employees">
        <i class="feather icon-slash"></i>
        Cancel
      </a>
      <button type="submit" class="btn btn-primary ms-1">
        <i class="feather icon-save"></i>
        Save
      </button>
    </div>
  </form>
}
