<form #myform="ngForm">
  <app-card cardTitle="Employee Data" [options]="false">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="employeeFirstName">First Name</label>
          <input type="text" name="employeeFirstName" id="employeeFirstName" class="form-control" [(ngModel)]="employee.firstName" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="employeeLastName">Last Name</label>
          <input type="text" name="employeeLastName" id="employeeLastName" class="form-control" [(ngModel)]="employee.lastName" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="employeeEmail">E-mail</label>
          <input type="text" name="employeeEmail" id="employeeEmail" class="form-control" [(ngModel)]="employee.email" />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="employeeDocument">Document</label>
          <input type="text" name="employeeDocument" id="employeeDocument" class="form-control" [(ngModel)]="employee.document" />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="employeeBirthdate">Birth Date</label>
          <input type="date" name="employeeBirthdate" id="employeeBirthdate" class="form-control" [(ngModel)]="employee.birthDate" />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="employeeSuperior">Superior</label>
          <select class="form-control" name="employeeSuperior" id="employeeSuperior" [(ngModel)]="employee.superior">
            <option value="">Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
  </app-card>

  <app-card cardTitle="Authorization Data" [options]="false">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="employeePassword">Password</label>
          <input type="password" name="employeePassword" id="employeePassword" class="form-control" [(ngModel)]="employee.password" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="employeeConfirmPassword">Confirm Password</label>
          <input
            type="password"
            name="employeeConfirmPassword"
            id="employeeConfirmPassword"
            class="form-control"
            [(ngModel)]="employee.passwordConfirm"
          />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="employeeRole">Role</label>
          <select name="employeeRole" id="employeeRole" class="form-control" [(ngModel)]="employee.role">
            <option value="">Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
  </app-card>

  <div class="d-flex justify-content-end mb-4">
    <a class="btn btn-icon btn-danger" routerLink="/employees">
      <i class="feather icon-slash"></i>
      Cancel
    </a>
    <button type="submit" class="btn btn-primary ms-1">
      <i class="feather icon-save"></i>
      Create New Employee
    </button>
  </div>
</form>
